@font-face {
    font-family: "Caesar";
    src: url("../Fonts/MainFont/CAESAR.ttf") format("woff");
}

body {
    font-family: 'Caesar';
    background-image: url("../Images/IndexBackground.jpg");
    background-repeat: repeat;
}

.Title {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-align: center;
}

.GodLeft {
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: inline-block;
    z-index: 100;
    margin-top: 100px;
    left: 20%;
}

.GodRight {
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: inline-block;
    z-index: 100;
    margin-top: 100px;
    right: 20%;
}

.GodNameCont {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    margin: auto;
}

.GodName {
    font-family: 'Caesar', Times, serif;
    font-size: 35px;
    margin: auto;
}

.GodNickname {
    font-family: 'Caesar', Times, serif;
    font-size: 15px;
    margin-top: 0;
    letter-spacing: 2px;
}

.Meter {
    margin-bottom: 40px;
    width: 125px;
    height: 25px;
    border-radius: 0px;
    background: black;
}

.Meter:-moz-meter-optimum::-moz-meter-bar {
    background: rgb(255, 255, 255);
}

.Inapoi {
    text-decoration: none;
    border: 1px solid white;
    letter-spacing: 2px;
    margin-left: 100px;
    border-radius: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}

.Inapoi:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}